.contact-detail {
  width: 100%;
  max-width: 800px;
  border: 1px solid #c0bebe;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .contact-detail-header {
    position: relative;
    margin-bottom: 30px;

    h2 {
      margin: 0;
      text-align: center;
    }

    .btn-edit {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .detail-row {
    margin-bottom: 10px;

    span {
      font-weight: bold;
      color: #333333;
      margin-right: 10px;
    }
  }
}   