.container {
  display: flex;
  height: 100vh;

  .left-panel {
    width: 40%;
    background-color: #515151;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;

    .contact-list {
      overflow-y: auto;
    }

    .add-contact {
      width: 80%;
      margin: 0 auto 10px;
    }
  }

  .right-panel {
    width: 60%;
    padding: 20px;
    overflow-y: auto;

    p {
      font-weight: bold;  
      font-size: 24px;
      color: #333333;
      margin-top: 50px;
      text-align: center;
    }

    .no-contact-selected {
      text-align: center;
      margin-top: 50px;
      color: #666;
      font-size: 18px;
    }
  }
}